---
layout: default
title: Velkommen
---
<section class="page">
<h1>Velkommen</h1>
<p>
<em>G/F Universitetsparken</em> er grundejerforeningen for området ved Tinbergens Alle. Boligerne i området er en blanding af villaer, rækkehuse, kædehuse og lejligheder. Grundejerforeningen er for alle grundejere på Tinbergens Alle. Foreningen varetager de forskellige fælles forpligtigelser og opgaver – så som vedligeholdelse af området, snerydning, belysning mm.
</p>
<p>
Foreningen blev startet op i sommeren 2015. Er der spørgsmål til forningen er du velkommen til at kontakte bestyrelsen – find kontaktoplysninger på <a href="{{ "/kontakt" | prepend: site.baseurl }}">kontakt siden</a>.
</p>
<p>
Der er mere information, <a href="{{ site.url }}/assets/img/Tinbergens_Alle.jpg">kort over området</a> og links til information om området på siden <a href="{{ "/info" | prepend: site.baseurl }}">nyttig information</a>. Her kan du også finde kontaktoplysninger til de forskellige leverandøre vi bruger i foreningen.
</p>
<p>
…og til nye medlemmer af foreningen – velkommen til <svg class="icon icon-emo-happy"><use xlink:href="#icon-emo-happy"></use></svg>
</p>
</section>
<section class="posts-heading">
<h1>Nyheder</h1>
<hr />
</section>
<section class="posts">
  {% for post in paginator.posts %}
    {% include article.html %}
  {% endfor %}
  {% include pagination.html %}
</section>
