<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }} - {{ page.title }}</title>
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.meta_keywords }}{% endif %}">
<link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
<link rel="alternate" type="application/rss+xml" title="Universitetsparken" href="{{ "/feed.xml" | prepend: site.baseurl }}"/>