<header class="site-header">
  <nav class="navbar">
    <ul>
      <li><a href="{{ "/" | prepend: site.baseurl }}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg> velkommen</a></li>
      <li><a href="{{ "/info" | prepend: site.baseurl }}"><svg class="icon icon-info-circled"><use xlink:href="#icon-info-circled"></use></svg> nyttig information</a></li>
      <li><a href="{{ "/referater" | prepend: site.baseurl }}"><svg class="icon icon-doc-text"><use xlink:href="#icon-doc-text"></use></svg> referater</a></li>
      <li><a href="{{ "/kontakt" | prepend: site.baseurl }}"><svg class="icon icon-mail-alt"><use xlink:href="#icon-mail-alt"></use></svg> kontakt</a></li>
    </ul>
  </nav>
  <div class="top-heading">
    <h1><a href="{{ "/" | prepend: site.baseurl }}">{{ site.title }}</a></h1>
    <span>{{ site.description }}</span>
    <hr>
  </div>
</header>