<nav class="pagination" role="pagination">
  {% if paginator.total_pages > 1 %}
  <ul>
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a class="next" href="{{ "/" | prepend: site.baseurl }}" title="Newer Articles"><svg class="icon icon-left-circled"><use xlink:href="#icon-left-circled"></use></svg> Prev</a></li>
      {% else %}
        <li><a class="next" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/" title="Newer Articles"><svg class="icon icon-left-circled"><use xlink:href="#icon-left-circled"></use></svg> Prev</a></li>
      {% endif %}
    {% else %}
        <li><span><svg class="icon icon-left-circled"><use xlink:href="#icon-left-circled"></use></svg> Prev</span></li>
    {% endif %}
        <li><span class="page-number">(Page {{paginator.page}} of {{paginator.total_pages}})</span></li>
    {% if paginator.next_page %}
        <li><a class="prev" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/" title="Older Articles">Next <svg class="icon icon-right-circled"><use xlink:href="#icon-right-circled"></use></svg></a></li>
    {% endif %}
  </ul>
  {% endif %}
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="News feed"><svg class="icon icon-rss-squared"><use xlink:href="#icon-rss-squared"></use></svg></a><br/>
</nav>