/* layout.css */
.navbar {
  background: $base-color-dark;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }

  li a {
      display: inline-block;
      color: $base-color-light;
      text-align: center;
      text-decoration: none;
      border: none;
  }

  @include large {
    li {
      display: inline;
      font-size: 1.2rem;
    }
    a {
      padding: 1rem 1rem;
    }
  }

  @include medium {
    li {
      display: inline;
      font-size: 1rem;
    }
    a {
      padding: 0.8rem 0.8rem;
    }
  }

  @include small {
    li {
      display: block;
      width: 100%;
      font-size: 1rem;
    }
    a {
      padding: 0.6rem 0.6rem;
    }
  }

  li a:hover {
      transition: background .25s linear, color .25s linear;
      color: $base-color-dark;
      background: $base-color-light;
  }

  svg {
      vertical-align: text-bottom;
  }
}

.top-heading {
  span {
    color: $text-color-light;
  }
  @include large {
    max-width: 64rem;
    padding: 0 6rem;
    margin: 1rem auto 0 auto;
    h1 {
      font-size: $heading-base-size*1.4;
      margin-bottom: 0;
    }
    span {
      font-size: $font-base-size*1.4;
    }
  }

  @include medium {
    margin: 1rem auto 0 auto;
    padding: 0 4rem;
    h1 {
      font-size: $heading-base-size*1.2;
      margin-bottom: 0;
    }
    span {
      font-size: $font-base-size*1.2;
    }
  }

  @include small {
    margin: 1rem auto 0 auto;
    padding: 0 1rem;
    h1 {
      font-size: $heading-base-size*0.8;
      margin-bottom: 0;
    }
    span {
      font-size: $font-base-size*1.0;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
  }
  text-align: center;
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }
  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  img {
    max-width: 100%;
  }
}

.pagination {
  text-align: center;
  margin: 2em 0;

  li {
    padding: 0 .4em;
  }

  li, a, span {
    display: inline-block;
  }

  a, span {
    line-height: 1.2em;
    font-size: .7em;
  }

  span {
    color: $text-color-light;
    font-style: italic;
  }
  svg {
      vertical-align: text-bottom;
  }
  a {
      border: none;
    &:hover {
        color: $link-color-hover;
        transition: color .25s linear;
    }
  }
  svg#feed {
    width: auto;
    @include large {
      height: $font-base-size*1.6;
    }
    @include medium {
      height: $font-base-size*1.3;
    }
    @include small {
      height: $font-base-size*1.1;
    }
  }
}

.post-meta {
  color: $text-color-light;
  font-size: 0.8em;
  svg {
    vertical-align: text-bottom;
  }
  margin: 0;
  padding: 0;
}

.posts-heading {
  h1 {
    padding-top: 1em;
    @include large {
      font-size: $heading-base-size*1.3;
      
    }
    @include medium {
      font-size: $heading-base-size*1.1;
    }
    @include small {
      font-size: $heading-base-size*0.9;
    }
  }
  hr {
    margin-top: 1em;
  }
}


.posts {
  h1 {
    @include large {
      font-size: $heading-base-size*0.8;
    }
    @include medium {
      font-size: $heading-base-size*0.6;
    }
    @include small {
      font-size: $heading-base-size*0.5;
    }
  }
}

.page {
  h1 {
    @include large {
      font-size: $heading-base-size*1.3;
      margin-bottom: 1em;
    }
    @include medium {
      font-size: $heading-base-size*1.1;
      margin-bottom: 1em;
    }
    @include small {
      font-size: $heading-base-size*0.9;
      margin-bottom: 1em;
    }
  }
}

.ref-list {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    line-height: 1.7em;
  }
}

.error-page {
  text-align: center;
  h1 {
    font-size: $heading-base-size*4;
    margin-bottom: 0;
    
  }
  small {
      color: $text-color-light;
      font-style: italic;
      font-size: $font-base-size*0.9;
  }
  p {
    font-size: $font-base-size*1.5;
    margin-top: 3rem;
  }
}